version: '3.8'

services:
  suite-shell:
    build:
      context: ../../..
      dockerfile: cp/suite-shell/Dockerfile
    ports:
      - "3001:3001"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_SERVICE_NAME=suite-shell
    networks:
      - observability

networks:
  observability:
    external: true
    name: geniuserp_observability