# Backing services — secrete (template)
# Copiază la rădăcina repo: cp .backing-services.env.example .backing-services.env

SUITE_DB_POSTGRES_USER=suite_admin
SUITE_DB_POSTGRES_PASS=ReplaceMeWithGlobalDBPassword
SUITE_DB_POSTGRES_PORT=5432
CP_IDT_AUTH_SUPERTOKENS_CONNECTION_URI=http://supertokens-core:3567
CP_IDT_AUTH_SUPERTOKENS_API_KEY=ReplaceMeWithSuperTokensApiKey20chars
