#######################################################
# SUITA GENIUSSUITE - CONFIGURAȚII GLOBALE
# Sursă: GeniusERP_Suite_Plan_v1.0.5 (Stack tehnologic, Control Plane)
#######################################################

# -- DOMENIU ȘI REȚEA --
# Domeniul principal folosit de Proxy/Traefik
SUITE_APP_DOMAIN=geniuserp.app

# -- SERVICII DE BAZĂ PARTAJATE (BACKING SERVICES) --

# Bază de Date Principală
SUITE_DB_POSTGRES_HOST=postgres_server
SUITE_DB_POSTGRES_PORT=5432
SUITE_DB_POSTGRES_USER=suite_admin
SUITE_DB_POSTGRES_PASS=ReplaceMeWithGlobalDBPassword

# Broker
SUITE_MQ_KAFKA_BROKERS=kafka:9092
SUITE_MQ_KAFKA_USER=ReplaceMeWithKafkaUser
SUITE_MQ_KAFKA_PASS=ReplaceMeWithKafkaPassword

# BPM
SUITE_BPM_TEMPORAL_HOST_PORT=temporal:7233

# -- OBSERVABILITATE --
# Puncte finale pentru colectarea telemetriei (portul devine sursa unică de adevăr)
SUITE_OBS_OTEL_COLLECTOR_GRPC_PORT=3200
SUITE_OBS_OTEL_COLLECTOR_HTTP_PORT=3200
SUITE_OBS_OTEL_COLLECTOR_GRPC_URL=http://otel-collector:3200
SUITE_OBS_OTEL_COLLECTOR_HTTP_URL=http://otel-collector:3200
SUITE_OBS_LOKI_URL=http://loki:3100
SUITE_OBS_PROMETHEUS_URL=http://prometheus:9090
SUITE_OBS_TEMPO_URL=http://tempo:3200
SUITE_OBS_GRAFANA_URL=http://grafana:3000

