receivers:
  otlp:
    protocols:
      http:
      grpc:

exporters:
  otlp/tempo:
    endpoint: "tempo:4317"

processors:
  batch:

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo]