services:
  mercantiq-app:
    build:
      context: ../..
      dockerfile: mercantiq.app/Dockerfile
    container_name: ${MERCQ_CONTAINER_NAME}
    restart: ${MERCQ_RESTART_POLICY}
    env_file:
      - ../../.suite.general.env
      - ../.mercantiq.env
    environment:
      - MERCQ_APP_PORT=${MERCQ_APP_PORT}
      - MERCQ_APP_METRICS_PORT=${MERCQ_APP_METRICS_PORT}
      - MERCQ_APP_ENGINES_PORT=${MERCQ_APP_ENGINES_PORT}
      - MERCQ_APP_NODE_ENV=${MERCQ_APP_NODE_ENV}
      - PORT=${MERCQ_APP_PORT}
      - OTEL_SERVICE_NAME=${MERCQ_OTEL_SERVICE_NAME}
      - SUITE_OBS_OTEL_COLLECTOR_GRPC_URL=${SUITE_OBS_OTEL_COLLECTOR_GRPC_URL}
      - LOG_LEVEL=${MERCQ_LOG_LEVEL}
      - BAO_AGENT_CONFIG=${MERCQ_BAO_AGENT_CONFIG}
      - SUITE_DB_POSTGRES_HOST=${SUITE_DB_POSTGRES_HOST}
      - SUITE_DB_POSTGRES_PORT=${SUITE_DB_POSTGRES_PORT}
    volumes:
      - ${MERCQ_APPROLE_ROLE_ID_PATH}:/openbao/role-id:ro
      - ${MERCQ_APPROLE_SECRET_ID_PATH}:/openbao/secret-id:ro
    networks:
      - net_suite_internal
      - net_backing_services
      - net_observability
    labels:
      - traefik.enable=${MERCQ_TRAEFIK_ENABLE}
      - traefik.docker.network=${PROXY_NETWORK_INTERNAL}
      - traefik.http.routers.mercantiq.rule=Host(`${MERCQ_TRAEFIK_HOST}`)
      - traefik.http.routers.mercantiq.entrypoints=${MERCQ_TRAEFIK_ENTRYPOINT}
      - traefik.http.routers.mercantiq.tls=${MERCQ_TRAEFIK_TLS}
      - traefik.http.routers.mercantiq.tls.certresolver=${MERCQ_TRAEFIK_CERTRESOLVER}
      - traefik.http.routers.mercantiq.middlewares=${MERCQ_TRAEFIK_MIDDLEWARES}
      - traefik.http.services.mercantiq.loadbalancer.server.port=${MERCQ_APP_PORT}
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:${MERCQ_APP_PORT}/health']
      interval: ${MERCQ_HEALTHCHECK_INTERVAL}
      timeout: ${MERCQ_HEALTHCHECK_TIMEOUT}
      retries: ${MERCQ_HEALTHCHECK_RETRIES}
      start_period: ${MERCQ_HEALTHCHECK_START_PERIOD}

networks:
  net_suite_internal:
    external: true
    name: geniuserp_net_suite_internal
  net_backing_services:
    external: true
    name: geniuserp_net_backing_services
  net_observability:
    external: true
    name: geniuserp_net_observability
