#######################################################
# APLICAȚIE: I-WMS - Warehouse & Inventory (IWMS)
# Sursă: Tabelul 5 - Interval 6650-6699
#######################################################

# -- CONFIGURARE APLICAȚIE --
# Portul intern al API-ului
IWMS_APP_PORT=6650
IWMS_APP_METRICS_PORT=6651
IWMS_APP_RF_TERMINAL_PORT=6652
IWMS_APP_NODE_ENV=production

# -- BAZA DE DATE (Specifică 'i-wms') --
IWMS_DB_POSTGRES_URL=postgresql://iwms_user:ReplaceMe@postgres_server:5432/iwms_db

# -- AUTENTIFICARE --
IWMS_AUTH_IDENTITY_URL=http://identity:6250
IWMS_AUTH_JWT_SECRET=ReplaceMeWithStrongJWTSecretKey

# -- CONFIGURARE WMS --
IWMS_WMS_MULTI_WAREHOUSE_ENABLED=true
IWMS_WMS_BARCODE_ENABLED=true
IWMS_WMS_RFID_ENABLED=false

# -- INTEGRĂRI CURIERI --
IWMS_API_COURIER_ENABLED=true
# Fan Courier
IWMS_API_FANCOURIER_CLIENT_ID=ReplaceMeWithFanCourierClientID
IWMS_API_FANCOURIER_USER=ReplaceMeWithFanCourierUser
IWMS_API_FANCOURIER_PASS=ReplaceMeWithFanCourierPassword
# Cargus
IWMS_API_CARGUS_API_KEY=ReplaceMeWithCargusAPIKey
# Sameday
IWMS_API_SAMEDAY_USERNAME=ReplaceMeWithSamedayUsername
IWMS_API_SAMEDAY_PASSWORD=ReplaceMeWithSamedayPassword

# -- POS --
IWMS_POS_ENABLED=true
IWMS_POS_MAX_TERMINALS=10

# -- URL-URI SERVICII INTERNE --
IWMS_SVC_CP_IDENTITY_URL=http://identity:6250
IWMS_SVC_NUMERIQO_URL=http://numeriqo-api:6750

# -- OBSERVABILITATE --
IWMS_OBS_OTEL_ENDPOINT=${SUITE_OBS_OTEL_COLLECTOR_GRPC_URL}

